<a href="https://colab.research.google.com/github/Sakshisingh712/Hamoye-stage-B/blob/main/Hamoye_Stage_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:Sakshi Singh

Hamoye Data Science Internship

Stage B (Quize Code)

In [149]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [150]:
data=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")

In [151]:
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [152]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()

In [153]:
from sklearn.model_selection import train_test_split
x1_test,x1_test,y1_train,y1_test=train_test_split(data[['T2']],data[['T6']],test_size=0.3,random_state=42)

In [154]:
linear_model.fit(x1_test,y1_test)

LinearRegression()

In [155]:
R2=linear_model.score(x1_test,y1_test)

In [156]:
print('r2 score is: ',R2.round(2))  #Round upto two decimal point.

r2 score is:  0.64

In [157]:
#We will drop unuseful data
data.drop(['date','lights'],axis=1,inplace=True)

In [158]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [159]:
normalised_data=pd.DataFrame(scaler.fit_transform(data),columns=data.columns)

In [160]:
featured_data=normalised_data.drop(columns=['Appliances'])
heating_target=normalised_data['Appliances']

In [161]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(featured_data,heating_target,test_size=0.3,random_state=42)

In [162]:
from sklearn.linear_model import LinearRegression
Linear_model=LinearRegression()

In [163]:
Linear_model.fit(x_train,y_train)

LinearRegression()

In [164]:
PredictedValues=Linear_model.predict(x_test)

In [165]:
from sklearn.metrics import mean_absolute_error
MSE=mean_absolute_error(y_test,PredictedValues)

In [166]:
print('The MEAN SQUARE ERROR:', MSE.round(2))

The MEAN SQUARE ERROR: 0.05

In [167]:
#Now we need to calculate RSS (Residual Sum of Squares)
RSS=np.sum(np.square(y_test-PredictedValues))
print('The RSS value is:',round(RSS,2))

The RSS value is: 45.35

In [168]:
#RMSE
from sklearn.metrics import mean_squared_error
RMSE=np.sqrt(mean_squared_error(y_test,PredictedValues))
print('The RMSE value is: ',RMSE.round(3))

The RMSE value is:  0.088

In [169]:
#Coefficient of determination or R2
from sklearn.metrics  import r2_score
R2_Score=r2_score(y_test,PredictedValues)
print('Coeffiecient of Determination is: ', R2_Score.round(2))

Coeffiecient of Determination is:  0.15

In [170]:
data.head()

   Appliances     T1       RH_1  ...  Tdewpoint        rv1        rv2
0          60  19.89  47.596667  ...        5.3  13.275433  13.275433
1          60  19.89  46.693333  ...        5.2  18.606195  18.606195
2          50  19.89  46.300000  ...        5.1  28.642668  28.642668
3          50  19.89  46.066667  ...        5.0  45.410389  45.410389
4          60  19.89  46.333333  ...        4.9  10.084097  10.084097

[5 rows x 27 columns]

In [171]:
x_train.shape

(13814, 26)

In [173]:
#Compare the effect of regularisation
def get_weights_data(model,feat,col_name):
    #this function returns the weight of every function
    weights=pd.Series(model.coef_ , feat.columns).sort_values()
    weights_data=pd.DataFrame(weights).reset_index()
    weights_data.columns=['Features',col_name]
    weights_data[col_name].round(3)
    return weights_data

linear_model_weights=get_weights_data(Linear_model ,x_train,'Linear_Model_Weight')
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [174]:
from sklearn.linear_model import Ridge
Ridge_reg=Ridge(alpha=0.4,random_state=42)
Ridge_reg.fit(x_train,y_train)
RMSE_ridge=np.sqrt(mean_squared_error(y_test,PredictedValues))
print('New RMSE: ',round(RMSE_ridge,3))

New RMSE:  0.088

In [175]:
from sklearn.linear_model import Lasso 
Lasso_reg=Lasso(alpha=0.001,random_state=2)
Lasso_reg.fit(x_train,y_train)

lasso_weights_data=get_weights_data(Lasso_reg,x_train,"Lasso_weight")
lasso_weights_data
ans=lasso_weights_data.loc[lasso_weights_data['Lasso_weight']!=0]
ans
print("The number of non-zero feature weights: ",len(ans))

The number of non-zero feature weights:  4

In [176]:
Predicted_y_Lasso=Lasso_reg.predict(x_test)
RMSE=np.sqrt(mean_squared_error(y_test,Predicted_y_Lasso))
print('The predicted RMSE is :',RMSE.round(3))

The predicted RMSE is : 0.094

#THANK YOU!